<div class="mui-container">
    <div class="home mui-row">
      <div class="mui-col-md-6">
        <article class="mui-panel">
          <div class="bg-holder bg-deep-purple" style="background:url(/assets/images/database.jpg) no-repeat center center">
            <span class="post-list-title">
              <a class="post-link" href="/astra/">Datastax DBaaS Astra</a>
            </span>
            <div class="img-overlay"></div>
            <a href="/astra/" class="overlay"></a>
          </div>
          <div class="post-data">
            <p class="post-excerpt">Everything you need to know about astra, and then some... </p>
            <div class="post-meta">
                tags: datastax, astra, cassandra, rest, api, nifi, ansible, postman
            </div>
          </div>
        </article>
    </div>
  </div>
</div>
<p>&nbsp;</p><div class="mui-container">
    <div class="home mui-row">
      <div class="mui-col-md-6">
        <article class="mui-panel">
          <div class="bg-holder bg-deep-purple" style="background:url(/assets/images/database.jpg) no-repeat center center">
            <span class="post-list-title">
              <a class="post-link" href="/kubernetes/">Datastax & Kubernetes</a>
            </span>
            <div class="img-overlay"></div>
            <a href="/kubernetes/" class="overlay"></a>
          </div>
          <div class="post-data">
            <p class="post-excerpt">Everything you need to know about cassandra and kubernetes... </p>
            <div class="post-meta">
                tags: datastax, cassandra, kubernetes, k8s, k8ssandra, gke, eks, aks, iks, pks
            </div>
          </div>
        </article>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<div class="mui-container">
  <div class="home mui-row">
      <div class="mui-col-md-6">
        <article class="mui-panel">
          <div class="bg-holder bg-deep-purple" style="background:url(/assets/images/database.jpg) no-repeat center center">
            <span class="post-list-title">
              <a class="post-link" href="/nosqlbench/">DataStax NoSQLBench</a>
            </span>
            <div class="img-overlay"></div>
            <a href="/nosqlbench/" class="overlay"></a>
          </div>
          <div class="post-data">
            <p class="post-excerpt">The open source, pluggable, nosql benchmarking suite for Apache Cassandra.</p>
            <div class="post-meta">
                tags:  datastax, nosqlbench, cassandra, nosql, open source
            </div>
          </div>
        </article>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<div class="mui-container">
  <div class="home mui-row">
      <div class="mui-col-md-6">
        <article class="mui-panel">
          <div class="bg-holder bg-deep-purple" style="background:url(/assets/images/database.jpg) no-repeat center center">
            <span class="post-list-title">
              <a class="post-link" href="/stargate/">Stargate</a>
            </span>
            <div class="img-overlay"></div>
            <a href="/stargate/" class="overlay"></a>
          </div>
          <div class="post-data">
            <p class="post-excerpt">The new open source api framework for distributed data.</p>
            <div class="post-meta">
                tags:  stargate, cassandra, nosql, json, api, graphql, open source
            </div>
          </div>
        </article>
    </div>
  </div>
</div>